/*BREADCRUMBS*/
.breadcrumb .container-fluid{ padding-left:0; padding-right:0;  max-width: 1408px;  margin-left: auto;  margin-right: auto;}
.breadcrumb .row{ margin-left:0; margin-right:0;  }
.breadcrumb .col-12{ padding-left:0; padding-right:0;  }

.breadcrumb.breadcrb{background: #fff; padding: .25rem 2.49% .25rem 3%; margin: 0 0 4px 0;}
.breadcrumb.breadcrb ul{ margin:0; padding:0;}
.breadcrumb.breadcrb li{ list-style:none; display: inline-block; color:#282C3F; font-size: 14px;}
.breadcrumb.breadcrb li:before{color:#282C3F;}
.breadcrumb.breadcrb li a{font-size: 14px; color:#282C3F;}
/*END BREADCRUMBS*/