.logoCover{ height:32px; line-height:31px;}
.logoCover img{ max-height: 24px;}

.headerMobile { background:#fff;}
.headerMobile .container{padding-right: 5px; padding-left: 5px;}
.headerMobile .container .row{margin-right: -5px; margin-left: -5px; }
.headerMobile > .navigation-wrap > .container > .col-12{padding-right: 0; padding-left: 0;}

.pRelative{ position:relative;}

.headerMobile .navigation-wrap{ height:40px;}

.searchIcon{ width:20px; height:20px; position: absolute; left: 43px; top: 0; margin-top: 8px; margin-left:2px;}
.searchIcon img{width:21px; height:21px;}
.logoMobile{ width:120px; margin-top: 6px;}
.logoMobile{position:absolute; top:0; left:2px; right:0; margin:auto; height: 24px; text-align:center;}
.logoMobile img{ margin-top:12px;}
.wishlistIcon{ width:20px; height:22px; float:left; position:absolute; top:9px; right:32px;}
.wishlistIcon img{ width:18.08px; height:16px;}
.cartIcon{ width:20px; height:22px; float:left; position:absolute; top:7px; right:0;}
.cartIcon img{ width:16; height:20px;}


.menu-cover .dropdown-menu .container{ width:100%; max-width:100%;}
.menu-cover .dropdown-menu .container .row{ width:100%;}

.newStiker{ background:#ffcd03; color:#000; padding: 0 8px; top: -.8em; left: 3px;}

